<section class = 'home-main'>
  <div class = 'home-image'>

  </div>

  <ui-view class = 'home-right'>
    <section class = 'home-intro'>
<div class = 'search-box'>

    <input class = 'search-box' ng-model = 'filterName' placeholder="Type Here"></input>


</div>
      <div  ng-repeat = 'data in pokemon'>


        <div ui-sref ='info({id: data.name})' ng-click="getIndividual($index + 1)">

          <div class = 'wrapper'>
          <img class = 'img-list' ng-src = '{{data.img}}'></img>
          </div>
          <div>{{data.name}}</div>
          <div>{{data.id}}</div>

        </div>

      </div>
    </section>
  </ui-view>

<!-- $index + 1 -->
