<!-- <div ng-repeat = 'pokemon in singlePokemon'>{{poke.name}}</div> -->
<div class = 'infoPage'>

Name: {{poke.name}}
Height:{{poke.height}}
Type: {{poke.types[0].type.name}} {{poke.types[1].type.name}}
<img class = 'test' ng-src = "{{poke.img}}"></img>
</div>
<button class = "previous"ng-disabled = 'poke.id === 1' ng-click = 'getPrev(poke.id)' ui-sref = 'info({id: poke.id -1})'>Previous</button>
<button class = "next" ng-click = 'getNext(poke.id)' ui-sref = 'info({id: poke.id + 1})'>next</button>
