body { padding-bottom: 70px; }

section.home-main {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  display: inline-block;
  position: relative;
  text-align: center;
  font-family: 'Bree Serif', serif;
  font-size: 30px;
}

.home-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-box {

  margin-top: 10px;
}

input.search-box {
  border-radius: 20px;
  width: 250px;
}

.wrapper {
  background-color: #F2F2F2;
  height: 200px;
  width: 300px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-list{
  height: 180px;
  width: 200px;
}
.img-list:hover{
  animation: kenburns 20s infinite;
}
@keyframes kenburns {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    95% {
        transform: scale3d(2, 2, 2) translate3d(-190px, -120px, 0px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    100% {
        transform: scale3d(2.5, 2.5, 2.5) translate3d(-170px, -100px, 0px);
        opacity: 0;
    }
}
