.bo {
  margin: 0;
}
.infoPage {
  display: inline-block;
  width: 100vw;
  background-image: url('../img/infoBackground.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  padding-bottom: 10px;

}
.dropdown_menu {
  display: none;
}
.previous {
  float: left;
  display: block;
  border-radius: 20px;
  width: 200px;
}
.next {
  float: right;
  display: block;
  border-radius: 20px;
  width: 200px;
}
.test {
  heigth: 300px;
  width: 300px;
  display: inline-block;

}
.infoBox {
  font-size: 30px;
  border-radius: 30px;
  width: 600px;
  background-color: #30A7D7;
  color: black;
  display: inline-block;
  position: relative;
  bottom: -50px;
  height 350px;
}
.property {
  color: white;
}
.infoName{
  text-align: left;
}
